{% extends "1" %}

{% block title %}GALLERY : {{ image[0] }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/gallery.css') }}">
{% endblock %}

{% block meta %}
    {{ embed(image[0], image[2]) }}
{% endblock %}

{% block navbar %}
    {{ navback("gallery") }}
{% endblock %}

{% block content %}
    <div class="center">
        <h3>{{ image[0] }}</h3>
        <a class="nolink" href="{{ image[1] }}" target="_blank">
            <img src="{{ image[1] }}" alt="{{ image[0] }} by weirdcease" class="display-image">
        </a>
        <p>{{ image[2] }}</p>
        <a href="{{ url_for('main.gallery') }}">back to gallery</a>
    </div>
{% endblock %}